.users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: aliceblue;
  /* background-color: rgb(215, 216, 156); */
}

.single-user {
  width: 300px;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 10px 10px;
}
.single-user img {
  width: 200px;
}
.single-user div {
  padding: 5px 10px;
}
.single-user p {
  font-weight: bold;
}
